body{
    background-color: rgb(236, 229, 229);
}

#clock{
    font-family: "tahoma";
    font-size: 70px;
    margin: 17rem auto;
    width: 400px;
    height: 100px;
    color: rgb(12, 2, 2);
    line-height: 100px;
    text-align: center;
    border-radius: 10px;
    background: url()

}
h1{
    text-align: center;
    width: 400px;
    margin:17 rem auto;
    border-radius: 10px;

}